body{
    font-family: "Orbitron", sans-serif;


}

.contenedor {
    width: 400px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 100px;
    gap: 5px;
}

.pantalla {
    grid-column: span 4;
    background-color: #B8BDB5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
    font-size: 30px;
}


.contenedor div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: #889696;
    color: white;
    cursor: pointer;
}

.contenedor div:hover {
    background-color: #5f6f6f;
}

.contenedor div:active {  /* El botón se achica un poquito da sensación de presión */
    transform: scale(0.95);
}

